name: CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  nix-build:
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # not supported by the flake atm
          #- ubuntu-22.04-arm
          #- macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: nixos-infra-dev
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix run --inputs-from . nixpkgs#nix-fast-build -- --skip-cached --no-nom
